.main-page {
  background-color: #000000;
}

.exchange-page, .info-page {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
}

.exchange-page {
  background-image: url(../images/app/background-exchange.png);
}

.info-page {
  background-image: url(../images/app/background-info.png);
}

.image-box, .result-box {
  background-color: #262524;
}

.image-box--under {
  background-color: #262829;
}

.image-box__title, .result-box__title, .result-box__value--number, .result-box__value--sort, .top-content div:not(.top-content__container--value) {
  color: #ffffff;
}

.image-box__btn, .result-box__btn {
  color: #3a82f7;
}

 {
  color: #ffffff;
}

.result-box__value--pronounciation {
  color: #787880;
}

.bottom-content__result {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15), inset 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
}

.exchange-page .bottom-content {
  border: 2px solid #dbb3a4;
}

.info-page .bottom-content {
  /* border: 2px solid #9eacc9; */
}

.top-content__container {
  border: 4px solid #ffffff;
}

.top-content__container--option {
  border-right: 4px solid #ffffff;
}

.bottom-content__container {
  border: 4px solid #9eacc9;
}

.bottom-content__state {
  border-right: 4px solid #9eacc9;
}

.top-content__btn {
  background-color: #C4C4C4;
}
